<div class="site-header-spacing">
  <div id="ymh_logo">
    <a href="/#particles-js" id="main-h">
      <img class="top" src="/assets/img/logos/ymh_green.png" />
      <img class="bottom" src="/assets/img/logos/ymh_white.png" />
    </a>
  </div>
  <a href="#" class="header__icon" id="header__icon"></a>
  <nav class="menu" id="menu">
    <a href="/#about">About Me</a>
    <div class="dropdown">
      <a href="/#projects">Projects</a>
      <div class="dropdown-content">
        <a href="/portfolio">All Projects</a>
      </div>
    </div>
    <a href="/#blog">Blog</a>
    <a href="/#contact">Contact</a>
  </nav>
</div>
