<header class="main-site-header">
  <div id="ymh_logo">
    <a href="{{ "/" | prepend: site.base_url }}">
      <img class="top" src="{{ "assets/img/logos/ymh_green.png" | prepend: site.baseurl }}" />
      <img class="bottom" src="{{ "assets/img/logos/ymh_white.png" | prepend: site.baseurl }}" />
    </a>
  </div>
  <nav class="site-nav transparent" id="nav-bar">
    <a href="#about" class="link" data-scroll>About Me</a>
    <a href="#projects" class="link" data-scroll>Projects</a>
  </nav>
</header>
