<header class="main-site-header" id="main-header">
  <div class="site-header-spacing">
    <div id="ymh_logo">
      <a href="/">
        <img class="top" src="/assets/img/logos/ymh_green.png" />
        <img class="bottom" src="/assets/img/logos/ymh_white.png" />
      </a>
    </div>
    <nav class="site-nav transparent" id="nav-bar">
      <a href="#about" class="link">About Me</a>
      <div class="dropdown">
        <a href="#projects" class="link">Projects</a>
        <div class="dropdown-content">
          <a href="{{ "portfolio" | prepend: site.baseurl }}">All Projects</a>
        </div>
      </div>
  </div>
  </nav>
</header>
