<div id="particles-js" class="container-fluid">
  <div class="header">
    <h1 class="noselect">
      <span class="site-title">{{site.username}}</span>
      <span class="site-description">{{site.user_title}}</span>
    </h1>
    <div class="header-icons">
      <a aria-label="Send email" href="mailto:{{ site.email }}"><i class="icon fa fa-envelope"></i></a>
      <a aria-label="My Twitter" target="_blank" href="https://twitter.com/{{ site.twitter_username }}"><i class="icon fa fa-twitter" aria-hidden="true"></i></a>
      <a aria-label="My Linkedin" target="_blank" href="https://www.linkedin.com/in/{{ site.linkedin_username }}"><i class="icon fa fa-linkedin" aria-hidden="true"></i></a>
      <a aria-label="My Github" target="_blank" href="https://github.com/{{ site.github_username }}"><i class="icon fa fa-github" aria-hidden="true"></i></a>
    </div>
  </div>
  <a class="down" href="#about" id="about-h"><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
