.blog-c {
  margin: 4em 0;
  position: relative; 
}

.blog-c .card {
  @include card(1);
  background: $background-color;
}

.blog-c .card img {
  width: 100%;
  height: 12em;
}

.blog-c .card-title{
  color: $purple;
  
}

.blog-c .card-body{
  padding: 1em;
}

.blog-c .card-link {
  color: $main;

  &:hover {
    color: $purple;
  }

  &:active {
    color: $purple;
  }
}
