.contact-form{
  margin: 6em 0;
  position: relative;  
}

.contact-form h1{
  padding:2em 1px;
  color: $main; 
}
.contact-form .right{
  max-width: 600px;
}
.contact-form .right .btn-secondary{
  background: transparent;
  border: 0;
  color: $main;
  border: 1px solid $main;
  border-radius: 10px;
  transition: background 0.3;
  -webkit-transition: background 0.3;

  &:hover {
    text-decoration: none;
    background-color: $purple;
    border-color: $purple;
    color: #fff;
    transition: color 0.3s ease-in,
                background-color 0.3s ease-in,
                border-color 0.3s ease-in;
    -webkit-transition: color 0.3s ease-in,
                        background-color 0.3s ease-in,
                        border-color 0.3s ease-in;
  }

  &:active {
    background-color: $purple;
    border-color: $purple;
    color: #fff;
    transition: color 0.3s ease-in,
                background-color 0.3s ease-in,
                border-color 0.3s ease-in;
    -webkit-transition: color 0.3s ease-in,
                        background-color 0.3s ease-in,
                        border-color 0.3s ease-in;
  }
}

.contact-form .right .form-control::placeholder{
  color: #888;
  font-size: 16px;
}
