.main-site-header {
    width: 100%;
    position: absolute;
    padding-top: 50px;
    z-index: 100;
    transition: padding-top .3s;
    -webkit-transition: padding-top .3s;
}

.site-header {
    min-height: $spacing-unit * 1.865;

    // Positioning context for the mobile navigation icon
    width: 100%;
    top: 0;
    position: fixed;
    background-color: $main;
    z-index: 100;
    transition: padding-top .3s;
    -webkit-transition: padding-top .3s;
}

.site-header-spacing {
    margin: 0 auto;
    max-width: 900px;
    padding: 0px 50px 0px 50px;
    transition: all .3s;
    -webkit-transition: all .3s;
}

.main-site-header .site-header-spacing {
    max-width: 1300px;
}

.site-title {
    float: left;
}

#ymh_logo {
    position: absolute;
    height: 54px;
    width: 54px;
    margin: 0 auto;
    transition: height .3s, width .3s;
    -webkit-transition: height .3s, width .3s;
}

#ymh_logo img {
    position: absolute;
    left: 0;
    -webkit-transition: opacity .3s ease-in-out;
    -moz-transition: opacity .3s ease-in-out;
    -o-transition: opacity .3s ease-in-out;
    transition: opacity .3s ease-in-out, width .3s, height .3s;
    width: 54px;
    height: 54px;
    cursor: pointer;
}

#ymh_logo img.bottom:hover {
    opacity: 0;
}

.main-site-header #ymh_logo {
    height: 96px;
    width: 96px;
}

.main-site-header #ymh_logo img {
    width: 96px;
    height: 96px;
}

.site-nav {
    float: right;
    position: relative;
    line-height: $base-line-height * $base-font-size * 2.25;

    .nav-trigger {
        display: none;
    }

    .menu-icon {
        display: none;
    }

    a {
        color: #fff;
        text-decoration: none;
        line-height: $base-line-height;
        @include relative-font-size(1.25);
        font-weight: bold;
        text-align: center;
        padding: 10px 10px 10px 10px;

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 30px;
        }
    }

    a:hover {
        color: $ternary-color;
        transition: color .3s;
        -webkit-transition: color .3s;
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: $spacing-unit / 2;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        label[for="nav-trigger"] {
            display: block;
            float: right;
            width: 36px;
            height: 36px;
            z-index: 2;
            cursor: pointer;
        }

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg path {
                fill: $grey-color-dark;
            }
        }

        input ~ .trigger {
            clear: both;
            display: none;
        }

        input:checked ~ .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;

            &:not(:last-child) {
                margin-right: 0;
            }
            margin-left: 20px;
        }
    }
}

.transparent {
    background: transparent;
}

.color {
    background-color: $main;
}
