@import url('https://fonts.googleapis.com/css?family=Inconsolata|Noto+Sans');

body {
    background-color: #555;
    color: #e2e2e2;
}

h1 {
    font-family: "Noto Sans";
    font-size: 40;
    margin: 5px 10px 30px 10px;
}

.titlebar {
    background-color: #444;
    font-family: "Noto Sans";
    margin: 0px 0px 30px 0px;
}

.titlebar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.titlebar li {
    float: left;
}

.titlebar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.titlebar li a:hover {
    background-color: #111;
}

.terminal {
    background-color: rgba(50, 50, 50, 0.7);
    width: 50%;
    min-height: 400px;
    border-radius: 4px;
    border: solid 4px #2c2c2c;
    font-family: "Inconsolata";
    font-size: 20px;
    margin: auto;
}

.topbar {
    background-color: #2c2c2c;
}

.terminal p {
    padding: 5px;
}
