<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>
    <div class="site-container">
      <div class="site-pusher">
        <header class="site-header">
          {% include header.html %}
        </header>
        <div class="site-content">
          <div class="page-content" aria-label="Content">
            <div class="wrapper">
              {{ content }}
            </div>
          </div>
          {% include footer.html %}
        </div>
        <div class="site-cache" id="site-cache"></div>
      </div> <!-- site-pusher -->
    </div> <!-- site-container -->
  </body>
</html>
