<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    <div class="site-container">
      <div class="site-pusher">
        <header class="main-site-header" id="main-header">
          {% include header.html %}
        </header>
        <div class="site-content" id="main-site-content">
          {% include particle.html %}
          <section id="about">
            {% include about.html %}
          </section>
          <section id="projects">
            {% include projects.html %}
          </section>
          <section>
            {% include blog.html %}
          </section>
          {{ content }}
          {% include footer.html %}
        </div>
        <div class="site-cache" id="site-cache"></div>
      </div>
    </div>
  </body>
</html>
